
.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    max-width: 300px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: gray;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    height: 340px;
}

.display {
    grid-column: 1 / span 4;
    height: 40px;
    padding: 5px;
    text-align: right;
    font-size: 36px;
    font-weight: 500;
    background-color: darkgray;
    color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.button {
    height: 65px;
    width: 65px;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    background-color: gray;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.button:hover {
    background-color: lightgray;
}

.button:active {
    background-color: rgb(155, 155, 211);
}

.operator-button {
    height: 65px;
    width: 65px;
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    background-color: darkorange;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.operator-button:hover {
    background-color: orange;
}

.operator-button:active {
    background-color: rgb(226, 171, 68);
}

.display:hover {
    cursor: pointer;
}
.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    max-width: 300px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: gray;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    height: 375px;
}
body {
    background-color: #c5b3b3;
}
